In [1]:
import re
import os

In [2]:
precip_dates =[]
path = '/Users/arianemaharaj/Documents/NASA/Precipitation/Precip_csv'
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        precip_dates.append(filename.split(".")[0])

In [3]:
print(len(precip_dates))
print(precip_dates[0:5])

377
['2010-02-08', '2009-07-07', '2005-01-12', '2017-11-10', '2016-10-27']

In [4]:
precip_dates.sort()
print(precip_dates[0:5])

['2002-10-21', '2002-10-22', '2002-10-23', '2002-10-24', '2002-10-25']

In [5]:
#NOT WHAT I WANT
f = open("dateonly.txt","r")
if f.mode == 'r':
    dust_dates = f.read()
    print(dust_dates[0:5])
    print(len(dust_dates))

2002-
2266

In [6]:
filename = "dateonly.txt"
dust_dates = []
with open(filename, 'r') as file:
    for line in file:
        dust_dates.append(line.strip())

In [7]:
print(dust_dates[0:5])
print(len(dust_dates))

['2002-10-22', '2002-10-23', '2003-01-19', '2003-01-19', '2003-03-09']
206

In [9]:
import pandas as pd
filename = '2002-10-22.csv'
data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
data['Precipitation(mm)'].mean()

TypeError: Could not convert 0.00.00.00.00.00.00.00.00.009320219----0.00.00.00.00.00.00.00.00.021203580.02099036--0.000207138890.000207138890.00.00.00.00.00.0133901520.0117889010.011271290.0091286630.000207138890.00058572380.00037858490.00.00.00.00058027560.0143874030.065921760.0122499861.6682280.00029755790.00058572380.00108983090.00071124590.00.00.00058027560.0287368740.0728687052.15599870.00810948850.000180838030.000518163140.00108983090.00210069930.00138945340.00.00192862140.0105737890.078295450.064647020.0197531730.00.00027915650.00103165370.00210069930.00412964630.00274019270.00192862140.0178158020.0768531040.0254759170.0254355020.00.00.00064081550.00193047260.00412964630.0086313270.0076661960.035203120.030065510.0356634260.00.00.00.00.00108203840.00390767960.00728298160.0096340330.0141300820.0187090780.0283999260.0091191520.00.00.00.00.00233497350.0065203720.0082856870.0118142160.0194476530.0144962370.0098759120.00.00.00.00.00.0039551660.00374289860.0080853740.0260026750.0184622090.0106132710.00.00.00.00.00.00.00.0043424750.015690820.0393487330.0357047770.00.00.00.00.000116719880.00.00.00134834590.0130066860.068833790.0463331830.00.00.00.000116719880.000116719880.000239006650.00.00134834590.0178968070.0408896580.075264920.00.09.041902e-050.000116719880.00535572650.000239006650.000390838220.00.0084033840.0332162340.0522477850.00.09.041902e-050.000346717130.00535572650.000629844840.000390838220.000848434170.00717168160.0226176980.118945690.00.00.000180838030.000229997270.00081571250.000629844840.00123927240.000848434170.00215592140.0119383190.051912190.00.00.000180838030.00027915650.000459985980.0064912720.00123927240.00242114020.00168934910.0143812380.0202194170.00.00.00.00027915650.00073123450.00586142670.0080644210.00242114020.00413791230.0039135520.0255855450.00.00.000320109360.00.00122135310.00140245470.00688934370.00568285260.00413791230.0063081050.0050912444 to numeric

In [10]:
import numpy as np
filename = '2002-10-22.csv'
data = pd.read_csv(filename)
data['Precipitation(mm)'].replace('--', np.nan, inplace=True)
data.dropna(subset=['Precipitation(mm)'], inplace=True)
precipitation = pd.to_numeric(data['Precipitation(mm)'])
precipitation
precipitation.mean()

0.02600709221087561

In [11]:
import pandas as pd
filename = '2002-10-21.csv'
data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
data['Precipitation(mm)'].mean()

0.030363407374074076

In [12]:
import pandas as pd
filename = '2002-10-21.csv'
data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
data['Precipitation(mm)'].replace('--', np.nan, inplace=True)
data.dropna(subset=['Precipitation(mm)'], inplace=True)
precipitation = pd.to_numeric(data['Precipitation(mm)'])
precipitation
precipitation.mean()

0.030363407374074076

In [13]:
precip_amt = []
precip_dates2 = []
for dates in precip_dates:
    filename = dates + '.csv'
    data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
    data['Precipitation(mm)'].replace('--', np.nan, inplace=True)
    data.dropna(subset=['Precipitation(mm)'], inplace=True)
    precipitation = pd.to_numeric(data['Precipitation(mm)'])
    precip_amt.append(precipitation.mean())
    precip_dates2.append(dates)

In [14]:
print(len(precip_dates2))
print(len(precip_amt))

377
377

In [15]:
df = pd.DataFrame({"Date": precip_dates2, "Precipitation(mm)": precip_amt})
df.head(5)

         Date  Precipitation(mm)
0  2002-10-21           0.030363
1  2002-10-22           0.026007
2  2002-10-23           0.017095
3  2002-10-24           0.005773
4  2002-10-25           0.026458

In [17]:
precip = list(zip(precip_dates2,precip_amt))
print(len(precip))
print(precip[0:5])

377
[('2002-10-21', 0.030363407374074076), ('2002-10-22', 0.02600709221087561), ('2002-10-23', 0.017095480236359442), ('2002-10-24', 0.005773034435458713), ('2002-10-25', 0.02645837523532111)]

In [18]:
dates_binary = []
for i in precip_dates2:
    if i in dust_dates:
        dates_binary.append(1)
    else:
        dates_binary.append(0)

In [19]:
print(len(dates_binary))
print(dates_binary[0:10])

377
[0, 1, 1, 0, 0, 0, 1, 0, 0, 0]

In [20]:
#Making sure it is correct
print(precip_dates2[0:10])
print(dust_dates[0:10])

['2002-10-21', '2002-10-22', '2002-10-23', '2002-10-24', '2002-10-25', '2003-01-18', '2003-01-19', '2003-01-20', '2003-01-21', '2003-03-07']
['2002-10-22', '2002-10-23', '2003-01-19', '2003-01-19', '2003-03-09', '2003-03-11', '2003-03-12', '2003-03-12', '2003-03-12', '2003-03-12']

In [21]:
#try with removing duplicates to see if get similar result
dust_dates2 = list(dict.fromkeys(dust_dates))
print(len(dust_dates2))
print(dust_dates2[0:10])

112
['2002-10-22', '2002-10-23', '2003-01-19', '2003-03-09', '2003-03-11', '2003-03-12', '2003-03-13', '2003-09-15', '2003-09-18', '2003-10-30']

In [22]:
dates_binary2 = []
for i in precip_dates2:
    if i in dust_dates2:
        dates_binary2.append(1)
    else:
        dates_binary2.append(0)

In [23]:
print(len(dates_binary2))
print(dates_binary2[0:10])
#Same Results

377
[0, 1, 1, 0, 0, 0, 1, 0, 0, 0]

In [24]:
df2 = pd.DataFrame({"Date_bin": dates_binary2, "Precip_avg(mm)": precip_amt})
df2.head(10)

   Date_bin  Precip_avg(mm)
0         0        0.030363
1         1        0.026007
2         1        0.017095
3         0        0.005773
4         0        0.026458
5         0        0.270050
6         1        0.204496
7         0        0.000301
8         0        0.451951
9         0        0.366921

In [25]:
dust_dates3 = []
for i in precip_dates2:
    if i in dust_dates2:
        dust_dates3.append(i)
    else:
        dust_dates3.append('-')

In [26]:
dfcheck = pd.DataFrame({"Precip_Date": precip_dates2, 
                        "Dust_Date":dust_dates3,
                        "Date_bin": dates_binary2, 
                        "Precip_avg(mm)": precip_amt})
dfcheck.head(10)

  Precip_Date   Dust_Date  Date_bin  Precip_avg(mm)
0  2002-10-21           -         0        0.030363
1  2002-10-22  2002-10-22         1        0.026007
2  2002-10-23  2002-10-23         1        0.017095
3  2002-10-24           -         0        0.005773
4  2002-10-25           -         0        0.026458
5  2003-01-18           -         0        0.270050
6  2003-01-19  2003-01-19         1        0.204496
7  2003-01-20           -         0        0.000301
8  2003-01-21           -         0        0.451951
9  2003-03-07           -         0        0.366921

In [101]:
df2.to_csv("Precip_Binary.csv", index = False)

In [27]:
dfcheck.to_csv("Precip_Check.csv", index = False)

In [32]:
#Separating into Day of, before etc.
dates_before = ['2002-10-21', '2003-01-18', '2003-03-08', '2003-09-14', '2003-10-29', '2004-10-04', '2005-01-10', '2005-01-16', '2005-11-03', '2006-07-17','2006-10-27', '2006-10-31', '2006-11-12', '2006-11-16','2007-04-12','2007-07-05','2007-08-26','2007-10-23','2007-12-08','2008-12-21','2009-01-15','2009-01-21','2009-01-29','2009-02-16','2009-02-27','2009-03-27','2009-06-20','2009-07-04','2009-08-04','2009-09-10','2009-09-19','2009-09-29','2009-10-12', '2009-10-24','2009-10-28','2009-11-03','2009-12-24','2010-01-02','2010-01-07','2010-01-11','2010-01-23','2010-02-08','2010-03-22','2010-04-18','2010-08-17','2010-11-30','2010-12-22','2011-01-11','2011-11-01','2012-10-22','2012-11-06','2012-12-03','2013-11-07','2013-11-15','2014-10-27','2015-03-31','2015-04-23','2015-05-19','2015-11-12','2016-02-19','2016-10-05','2016-10-22','2017-11-06','2018-01-19','2018-01-27','2018-02-02','2018-02-16','2018-05-07','2018-10-30','2019-02-24','2019-03-25','2019-11-08']
date_after1 =['2002-10-24', '2003-01-20', '2003-03-14', '2003-09-16', '2003-09-19','2003-10-31', '2003-11-04', '2004-10-06', '2005-01-12', '2005-01-18','2005-11-06', '2006-07-19','2006-10-29','2006-11-07', '2006-11-14','2006-11-20','2006-11-25','2007-04-14','2007-07-07','2007-08-28','2007-10-25','2007-12-10','2008-12-23','2009-01-11','2009-01-17','2009-01-24','2009-01-31','2009-02-18','2009-03-01','2009-03-29','2009-04-06','2009-06-25','2009-07-06','2009-08-06','2009-09-12','2009-09-21','2009-09-24','2009-10-01','2009-10-14','2009-10-26','2009-10-31','2009-11-06','2009-12-26','2010-01-04','2010-01-09','2010-01-13','2010-01-26','2010-02-10','2010-03-24','2010-04-20','2010-08-19','2010-12-02','2010-12-24','2011-01-13','2011-11-03','2012-10-28','2012-11-08','2012-12-05','2013-11-09','2013-11-18','2014-10-29','2015-04-03','2015-04-25','2015-05-23','2015-11-14','2016-02-21','2016-10-07','2016-10-26','2017-11-09','2017-11-16','2017-11-19','2018-01-21','2018-01-29','2018-02-04','2018-02-18','2018-05-09','2018-11-02','2019-02-26','2019-03-27','2019-11-10']
date_after2 =['2002-10-25', '2003-01-21','2003-03-15', '2003-09-20', '2003-11-05', '2004-10-07', '2005-01-13', '2005-01-19', '2005-11-07', '2006-07-20', '2006-10-30', '2006-11-08','2006-11-15','2006-11-26','2007-04-15','2007-07-08', '2007-08-29','2007-10-26','2007-12-11','2008-12-24','2009-01-12','2009-01-18','2009-01-25','2009-02-01','2009-02-19','2009-03-02','2009-03-30','2009-04-07','2009-06-26','2009-07-07','2009-08-07','2009-09-13','2009-09-25','2009-10-02','2009-10-15','2009-10-27','2009-11-01','2009-11-07','2009-12-27','2010-01-05','2010-01-10','2010-01-14','2010-01-27','2010-02-11','2010-03-25','2010-04-21','2010-08-20','2010-12-03','2010-12-25','2011-01-14','2011-11-04','2012-10-29','2012-11-09','2012-12-06','2013-11-10','2013-11-19','2014-10-30','2015-04-04','2015-04-26','2015-05-24','2015-11-15','2016-02-22','2016-10-08','2016-10-27','2017-11-20','2018-01-22','2018-01-30','2018-02-05','2018-02-19','2018-05-10','2018-11-03','2019-02-27','2019-03-28','2019-11-11']

days = []
for i in precip_dates2:
    if i in dust_dates2:
        days.append('day_of')
    elif i in dates_before:
        days.append('day_before')
    elif i in date_after1:
        days.append('1day_after')
    elif i in date_after2:
        days.append('2days_after')
    else:
        days.append('-')

In [33]:
df3 = pd.DataFrame({"Precip_Date": precip_dates2, 
                        "Days":days,
                        "Date_bin": dates_binary2, 
                        "Precip_avg(mm)": precip_amt})
df3.head(10)

  Precip_Date         Days  Date_bin  Precip_avg(mm)
0  2002-10-21   day_before         0        0.030363
1  2002-10-22       day_of         1        0.026007
2  2002-10-23       day_of         1        0.017095
3  2002-10-24   1day_after         0        0.005773
4  2002-10-25  2days_after         0        0.026458
5  2003-01-18   day_before         0        0.270050
6  2003-01-19       day_of         1        0.204496
7  2003-01-20   1day_after         0        0.000301
8  2003-01-21  2days_after         0        0.451951
9  2003-03-07            -         0        0.366921

In [34]:
df3.to_csv("Precip_days.csv", index = False)

In [36]:
df_of = df3.loc[df3['Days'] == 'day_of']
df_of.head(10)

   Precip_Date    Days  Date_bin  Precip_avg(mm)
1   2002-10-22  day_of         1        0.026007
2   2002-10-23  day_of         1        0.017095
6   2003-01-19  day_of         1        0.204496
11  2003-03-09  day_of         1        0.096158
13  2003-03-11  day_of         1        0.218108
14  2003-03-12  day_of         1        0.387917
15  2003-03-13  day_of         1        0.049757
19  2003-09-15  day_of         1        3.292506
22  2003-09-18  day_of         1        1.203738
26  2003-10-30  day_of         1        0.021718

In [37]:
print(len(df_of))

112

In [38]:
df_of.to_csv("Precip_day_of.csv", index = False)

In [39]:
df_before = df3.loc[df3['Days'] == 'day_before']
df_before.head(10)

   Precip_Date        Days  Date_bin  Precip_avg(mm)
0   2002-10-21  day_before         0        0.030363
5   2003-01-18  day_before         0        0.270050
10  2003-03-08  day_before         0        0.146112
18  2003-09-14  day_before         0        4.945026
25  2003-10-29  day_before         0        0.158796
33  2004-10-04  day_before         0        1.369726
37  2005-01-10  day_before         0        0.127888
41  2005-01-16  day_before         0        0.592790
45  2005-11-03  day_before         0        1.552670
50  2006-07-17  day_before         0        1.080271

In [40]:
print(len(df_before))

72

In [41]:
df_before.to_csv("Precip_day_before.csv", index = False)

In [42]:
df_1day_after = df3.loc[df3['Days'] == '1day_after']
df_1day_after.head(10)

   Precip_Date        Days  Date_bin  Precip_avg(mm)
3   2002-10-24  1day_after         0        0.005773
7   2003-01-20  1day_after         0        0.000301
16  2003-03-14  1day_after         0        1.173418
20  2003-09-16  1day_after         0        0.152571
23  2003-09-19  1day_after         0        0.573968
27  2003-10-31  1day_after         0        0.006590
31  2003-11-04  1day_after         0       10.213250
35  2004-10-06  1day_after         0        0.017181
39  2005-01-12  1day_after         0        0.304588
43  2005-01-18  1day_after         0        0.849886

In [43]:
print(len(df_1day_after))

80

In [47]:
df_1day_after.to_csv("Precip_1day_after.csv", index = False)

In [44]:
df_2days_after = df3.loc[df3['Days'] == '2days_after']
df_2days_after.head(10)

   Precip_Date         Days  Date_bin  Precip_avg(mm)
4   2002-10-25  2days_after         0        0.026458
8   2003-01-21  2days_after         0        0.451951
17  2003-03-15  2days_after         0        3.198971
24  2003-09-20  2days_after         0       23.639091
32  2003-11-05  2days_after         0        3.047883
36  2004-10-07  2days_after         0        0.022396
40  2005-01-13  2days_after         0        1.731034
44  2005-01-19  2days_after         0        1.918008
49  2005-11-07  2days_after         0        0.547974
53  2006-07-20  2days_after         0        0.308163

In [45]:
print(len(df_2days_after))

74

In [46]:
df_2days_after.to_csv("Precip_2days_after.csv", index = False)