In [8]:
import re
import os

In [17]:
precip_dates =[]
path = '/Users/arianemaharaj/Documents/NASA/Precipitation/Precip_csv'
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        precip_dates.append(filename.split(".")[0])

In [18]:
print(len(precip_dates))
print(precip_dates[0:5])

377
['2010-02-08', '2009-07-07', '2005-01-12', '2017-11-10', '2016-10-27']

In [19]:
precip_dates.sort()
print(precip_dates[0:5])

['2002-10-21', '2002-10-22', '2002-10-23', '2002-10-24', '2002-10-25']

In [34]:
#NOT WHAT I WANT
f = open("dateonly.txt","r")
if f.mode == 'r':
    dust_dates = f.read()
    print(dust_dates[0:5])
    print(len(dust_dates))

2002-
2266

In [38]:
filename = "dateonly.txt"
dust_dates = []
with open(filename, 'r') as file:
    for line in file:
        dust_dates.append(line.strip())

In [39]:
print(dust_dates[0:5])
print(len(dust_dates))

['2002-10-22', '2002-10-23', '2003-01-19', '2003-01-19', '2003-03-09']
206

In [72]:
import pandas as pd
filename = '2002-10-22.csv'
data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
data['Precipitation(mm)'].mean()

ValueError: Unable to parse string "--" at position 9

In [78]:
import numpy as np
filename = '2002-10-22.csv'
data = pd.read_csv(filename)
data['Precipitation(mm)'].replace('--', np.nan, inplace=True)
data.dropna(subset=['Precipitation(mm)'], inplace=True)
precipitation = pd.to_numeric(data['Precipitation(mm)'])
precipitation
precipitation.mean()

0.02600709221087561

In [79]:
import pandas as pd
filename = '2002-10-21.csv'
data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
data['Precipitation(mm)'].mean()

0.030363407374074076

In [80]:
import pandas as pd
filename = '2002-10-21.csv'
data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
data['Precipitation(mm)'].replace('--', np.nan, inplace=True)
data.dropna(subset=['Precipitation(mm)'], inplace=True)
precipitation = pd.to_numeric(data['Precipitation(mm)'])
precipitation
precipitation.mean()

0.030363407374074076

In [81]:
precip_amt = []
precip_dates2 = []
for dates in precip_dates:
    filename = dates + '.csv'
    data = pd.read_csv('Precipitation/Precip_csv/'+ filename)
    data['Precipitation(mm)'].replace('--', np.nan, inplace=True)
    data.dropna(subset=['Precipitation(mm)'], inplace=True)
    precipitation = pd.to_numeric(data['Precipitation(mm)'])
    precip_amt.append(precipitation.mean())
    precip_dates2.append(dates)

In [86]:
print(len(precip_dates2))
print(len(precip_amt))

377
377

In [83]:
df = pd.DataFrame({"Date": precip_dates2, "Precipitation(mm)": precip_amt})
df.head(5)

         Date  Precipitation(mm)
0  2002-10-21           0.030363
1  2002-10-22           0.026007
2  2002-10-23           0.017095
3  2002-10-24           0.005773
4  2002-10-25           0.026458

In [84]:
precip = list(zip(precip_dates2,precip_amt))
print(len(precip))
print(precip[0:5])

377
[('2002-10-21', 0.030363407374074076), ('2002-10-22', 0.02600709221087561), ('2002-10-23', 0.017095480236359442), ('2002-10-24', 0.005773034435458713), ('2002-10-25', 0.02645837523532111)]

In [87]:
dates_binary = []
for i in precip_dates2:
    if i in dust_dates:
        dates_binary.append(1)
    else:
        dates_binary.append(0)

In [91]:
print(len(dates_binary))
print(dates_binary[0:10])

377
[0, 1, 1, 0, 0, 0, 1, 0, 0, 0]

In [92]:
#Making sure it is correct
print(precip_dates2[0:10])
print(dust_dates[0:10])

['2002-10-21', '2002-10-22', '2002-10-23', '2002-10-24', '2002-10-25', '2003-01-18', '2003-01-19', '2003-01-20', '2003-01-21', '2003-03-07']
['2002-10-22', '2002-10-23', '2003-01-19', '2003-01-19', '2003-03-09', '2003-03-11', '2003-03-12', '2003-03-12', '2003-03-12', '2003-03-12']

In [93]:
#try with removing duplicates to see if get similar result
dust_dates2 = list(dict.fromkeys(dust_dates))
print(len(dust_dates2))
print(dust_dates2[0:10])

112
['2002-10-22', '2002-10-23', '2003-01-19', '2003-03-09', '2003-03-11', '2003-03-12', '2003-03-13', '2003-09-15', '2003-09-18', '2003-10-30']

In [94]:
dates_binary2 = []
for i in precip_dates2:
    if i in dust_dates2:
        dates_binary2.append(1)
    else:
        dates_binary2.append(0)

In [95]:
print(len(dates_binary2))
print(dates_binary2[0:10])
#Same Results

377
[0, 1, 1, 0, 0, 0, 1, 0, 0, 0]

In [97]:
df2 = pd.DataFrame({"Date_bin": dates_binary2, "Precip_avg(mm)": precip_amt})
df2.head(10)

   Date_bin  Precip_avg(mm)
0         0        0.030363
1         1        0.026007
2         1        0.017095
3         0        0.005773
4         0        0.026458
5         0        0.270050
6         1        0.204496
7         0        0.000301
8         0        0.451951
9         0        0.366921

In [99]:
dust_dates3 = []
for i in precip_dates2:
    if i in dust_dates2:
        dust_dates3.append(i)
    else:
        dust_dates3.append('-')

In [100]:
dfcheck = pd.DataFrame({"Precip_Date": precip_dates2, 
                        "Dust_Date":dust_dates3,
                        "Date_bin": dates_binary2, 
                        "Precip_avg(mm)": precip_amt})
dfcheck.head(10)

  Precip_Date   Dust_Date  Date_bin  Precip_avg(mm)
0  2002-10-21           -         0        0.030363
1  2002-10-22  2002-10-22         1        0.026007
2  2002-10-23  2002-10-23         1        0.017095
3  2002-10-24           -         0        0.005773
4  2002-10-25           -         0        0.026458
5  2003-01-18           -         0        0.270050
6  2003-01-19  2003-01-19         1        0.204496
7  2003-01-20           -         0        0.000301
8  2003-01-21           -         0        0.451951
9  2003-03-07           -         0        0.366921

In [101]:
df2.to_csv("Precip_Binary.csv", index = False)